<!DOCTYPE html>
<html>
  <head>
    <title>Secret Santa</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script>
      function validateForm() {
        let x = document.forms["myForm"]["fname"].value;
        if (x == "") {
          alert("Name must be filled out");
          return false;
        }
      }
    </script>
  </head>
  <body>
    <h1>Secret Santa</h1>
    <% participants.forEach(e => { %>
    <p><%= e %></p>
    <% }) %>
  </body>
</html>
